
body {
    padding-bottom: 120px;
}

.list-header-main {
    background: linear-gradient(109.6deg, rgba(50, 50, 50, 0.93) 11.2%, rgb(175, 174, 174) 78.9%) fixed;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    line-height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    text-transform: uppercase;
}

#checkboxSelectAll{
    margin-bottom: px;
}

.next-checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 15px;
}


.next-icon {
    position: relative;
    display: inline-block;
    font-family: NextIcon;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .1px;
    -moz-osx-font-smoothing: grayscale;
}


.list-header-container {
    width: 1295px;
    border: 2px rgb(118, 118, 118) solid;
    margin-bottom: 20px;
}

.cart-item {
    width: 100%;
    padding: 20px ;
    border: 2px rgb(31, 57, 226) solid;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}

.cart-item-inner {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center; /* Center align items vertically */
}

.cart-item-left {
    display: flex;
    align-items: center; /* Center align items vertically */
}

.cart-item .cart-item-checkbox {
    margin-right: 16px;
}

.cart-item .img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px; /* Increase the width as needed */
    height: 100px; /* Increase the height as needed */
    overflow: hidden;
    margin: 10px;
}

.cart-item .content-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px; /* Increase the width as needed */
    height: 200px; /* Increase the height as needed */
    overflow: hidden;
}

.cart-item .img-wrap img {
    
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 768px) {
    .list-header-container {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .cart-item {
        padding: 10px 0;
    }
    .cart-item-inner {
        display: block;
    }
    .cart-item-left {
        display: flex;
        align-items: center;
    }
    .cart-item .cart-item-checkbox {
        margin-right: 8px;
        margin-top: 16px;
    }
}
.cart-item-middle {
    display: table-cell;
    vertical-align: top;
    width: 500px;
    max-width: 156px;
    padding-left: 9px;
}
.cart-item-end {
    display: table-cell;
    vertical-align: top;
    width: 180px;
    padding-left: 9px;
}
p {
    font-size: 25px;
    color: rgb(255, 255, 255);
    
}

.footer {
    position: fixed;
    bottom: 0;
    background: rgb(70, 69, 69);
    border: 2px rgb(118, 118, 118) solid;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center; 
    z-index: 1000;
}

.footer .container-fluid{
    background: linear-gradient(109.6deg, rgba(50, 50, 50, 0.93) 11.2%, rgb(175, 174, 174) 78.9%) fixed;
}

.current-price{
    color: rgb(255, 255, 255);
    font-weight: 600;
}

