body {
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%) fixed;
}

.top-navbar{
    width: 100%;
    height: 7vh;
    background-color: #a9a9a926;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.top-icons{
    margin-left: 20px;
}

.top-icons a {
    font-size: 20px;
    padding: 0 10px;
    margin-right: 10px;
}

.other-links{
    margin-right: 20px;
}

#btn-login{
    width: 100px;
    border: 2px solid #1c1c50;
    color: #1c1c50;
    font-weight: bold;
    border-radius: 5px;
    height: 5vh;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn-login a{
    text-decoration: none;
    color: #1c1c50;
    transition: 0.5s ease;
}
#btn-login a:hover{
    background-color: #1c1c50;
    color: white;
}
#btn-login:hover{
    background-color: #1c1c50;
    color: white;
}
#btn-signup{
    width: 100px;
    border: 2px solid #1c1c50;
    color: #1c1c50;
    font-weight: bold;
    border-radius: 5px;
    height: 5vh;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn-signup a{
    text-decoration: none;
    color: #1c1c50;
    transition: 0.5s ease;
}
#btn-signup a:hover{
    background-color: #1c1c50;
    color: white;
}
#btn-signup:hover{
    background-color: #1c1c50;
    color: white;
}

.navbar {
    background:#1d1d1d;
}

.navbar-collapse {
    justify-content: flex-start;
}

/*CSS for login page*/
.other-action{
    font-size: 25px;
}
 
.other-action a{
    text-decoration: underline;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}
.search-container input {
    padding-left: 2.5rem; /* Space for the search icon */
    padding-right: 2.5rem; /* Space for the delete icon */
}
.search-icon {
    position: absolute;
    left: 0.75rem;
}
.delete-icon {
    position: absolute;
    right: 0.75rem;
    cursor: pointer;
}